<div class="inner-banner red-strip">
        <div class="row">
            <div class="col-md-8">
                
            <div class="red-strip career">
                    <div class="col-md-11 col-md-offset-1">
                        {{ content.top_block }}
                    </div>
                </div><!-- /.red-strip -->
                
                
            </div>
			
            <div class="col-md-4"> {{ content.banner }} </div>

        </div>
    </div><!-- /.inner-banner -->
    <div class="inner-content" style="padding-top:0;">
    <div class="map">
		<div id="map"></div>

        <div class="map-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-8 hm-map">
                        <span> 
                            
							{{ content.branches_form }}
				
				
						</span> 
					</div>
                </div>
            </div>
        </div><!-- /.map-info -->
    </div><!-- /.map -->
    
    
    
    <div class="container">
        <div class="row">
		

			
            <div class="col-md-12 col-sm-12 col-xs-12">
				{{ content.contact_text }}
            </div>
            
            
        </div>
        
    </div>

</div><!-- /.inner-content -->