<div class="inner-banner red-strip">
    <div class="row">
        <div class="col-md-8">

            <div class="red-strip">
                <div class="col-md-11 col-md-offset-1">
                    {{ content.top_block }}
                </div>
            </div><!-- /.red-strip -->


        </div>
		<div class="col-md-4">{{ content.banner }}</div>
    </div>
</div><!-- /.inner-banner -->
<div class="inner-content" style="padding-top:0;">
	{{ content.form_block }}
    
</div><!-- /.inner-content -->