<div class="inner-content">
    <div class="inner-banner">
        <div class="row">
            
            <div class="col-md-8">
                
                <div class="red-strip">
                    <div class="col-md-11 col-md-offset-1">
                        {{ content.top_block }}
                    </div>
                </div><!-- /.red-strip -->
                
                <div class="white-strip">
                    <div class="col-md-11 col-md-offset-1">
                        {{ content.middle_block }}
                        
                    </div>
                </div><!-- /.white-strip -->
				
				<div class="white-strip">
                    <div class="col-md-11 col-md-offset-1">
                        
                        {{ content.bottom_block }}
                        
                    </div>
                </div><!-- /.white-strip -->
				
            </div>
			<div class="col-md-4">{{ content.banner }}</div>
        </div>
    </div><!-- /.inner-banner -->
    


</div><!-- /.inner-content -->